body,html{
    overflow: auto;
}

#gallery-root{
    margin-top:20px;
}

#gallery-root section{
    clear: both;
    border: 1px solid #ddd;
    margin: 50px 20px;
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3);
    padding: 30px 50px 50px;
}
#gallery-root section h1{
    font-size: 3em;
    margin: 0 0 20px 0;
}


/******** drawing-panel *********/
#gallery-root .drawing-panel{
    display: inline-block;
    background: #EEE;
    border: 1px solid #CCC;
    margin-left: -1px;
    margin-top: -1px;
    float: left;
}
#gallery-root .drawing-panel-inner{
    height: 150px;
    width:300px;
    margin: 20px;
}
#gallery-root .drawing-panel canvas{
    box-shadow: 5px 5px 10px rgba(0,0,0,0.3) inset;
    background: #111;
    width: 50%;
    height: 100%;
    float: left;
}
#gallery-root .drawing-panel .description{
    width: 50%;
    height: 100%;
    float: left;
}
#gallery-root .drawing-panel .title{
    padding: 0 10px;
    font-size: 2em;
}
#gallery-root .drawing-panel .spec-description{
    padding: 5px 10px;
}
#gallery-root .drawing-panel .spec-description .value{
    display: inline-block;
    width: 30px;
    text-align: right;
}